.swiper-button-prev {
  color: #000 !important;
  position: relative;
  z-index: 9999999;
  top: 0px !important;
}

.swiper-button-prev:hover {
  color: burlywood !important;
}
.swiper-button-next:hover {
  color: blanchedalmond !important;
}
.swiper-button-next {
  color: #000 !important;
  position: relative;
  z-index: 9999999;
  top: 0px !important;
}

/* rs css  */
.swiper.swiper-button-show.swiper-initialized.swiper-horizontal.swiper-pointer-events.sld-1.justify-content-center.swiper-backface-hidden {
  padding-bottom: 65px;
}

.swiper.swiper-button-show.swiper-initialized.swiper-horizontal.swiper-pointer-events.sld-1.justify-content-center {
  padding-bottom: 85px;
}
