.signupwithgoogle.row {
  padding: 0px 15px;
}
input.form-control.mx-3 {
  width: 94%;
  background-color: none;
}

.imagesignupalign {
  position: relative;
  /* text-align: center; */
  justify-content: center;
  color: white;
}

.centered {
  transform: translate(0%, 0%);
}

/*new */

.d-flex.justify-content-center.rtt-1 {
  /* width: 150px;
  margin: 0 auto;
  padding-top: 500px; */
  width: 150px;
  margin: 0 auto;
  /* padding-top: 100px !important; */
  margin-top: -137px;
}

img.signupimage {
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  h4.mb-1.py-2 {
    margin-top: 59px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .ipad {
    width: 100%;
  }
  h4.mb-1.py-2 {
    margin-top: 59px;
  }
}
button.btn.btn-primary.createaccount {
  width: 100%;
}
/* @media screen and (min-width: 820px) and (max-width: 860px) {
  .rtt-1 {
    padding-top: 558px !important;
  }
@media screen and (min-width: 860px) and (max-width: 1024px) {
  .rtt-1 {
    padding-top: 620px !important;
  }
}
@media screen and (min-width: 1084px) and (max-width: 1384px) {
  .rtt-1 {
    padding-top: 710px !important;
  }
} */
