.signupwithgoogle.row {
  padding: 0px 15px;
}
input.form-control.mx-3 {
  width: 94%;
  background-color: none;
}

.imagesignupalign {
  position: relative;
  /* text-align: center; */
  justify-content: center;
  color: white;
}

.centered {
  transform: translate(0%, 0%);
}
